/* Copied the below code from the main Real Madrid Project as will look to link the two together in future */
/* * Selector to apply to ALL styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Added below to avoid having to repeat throughout */
ul {
  list-style-type: none;
}

/* Deleted styles for nav menu and drop down as not needed currently, but will need to readd once the two projects have been linked */

/* Header */
header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  position: fixed;
  max-height: 5em;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-bottom: 1px solid slateblue;
  /* Added slight bottom border to header to distinguish it easier */
}

header a {
  text-decoration: none;
  color: inherit;
}

/* Styles for the Logo IMAGE */
#logo {
  padding: 6px;
  margin-top: 1px;
  /* Turns #logo into a circle */
  border-radius: 50%;
}

/* Styles for the Logo TEXT */
#logo2 {
  font-size: large;
  align-self: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 6px;
}

/* Main Content */
main {
  background: url("../images/cover2.png") fixed center/cover;
  /* Real Madrid Logo set as background */
  background-size: 700px;

  background-color: rgba(29, 51, 97, 1);
  display: flex;
  /* Style below added to push footer to the bottom of the page */
  flex: 1 0 auto;

  /* Top margin applied to main to push content below Header and keep it on top of the footer */
  margin-top: 77px;
  margin-bottom: 3em;
}

/* Footer */
/* Styles added to ensure footer is fixed and sticks to the bottom of the page */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: auto;
  background-color: black;
  min-height: 3em;
}

#social {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-top: 1px solid slategray;
  /* Added little border on the top so footer stands out due to BG image's color */
}

/* Below styles added to i elements so they look better in the footer */
#social i {
  font-size: 160%;
  color: white;
  padding: 5px;
}

/* Combined Styles */
/* Media Styles for Phones (S, M & L) - Portrait Mode */
.instructions,
.game-area {
  height: fit-content;
  max-height: 520px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid gold;
  width: 85%;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-content: space-evenly;
  flex-grow: 0.5;
}

/* INDEX PAGE */
.instructions p {
  padding: 1%;
  font-weight: bold;
  line-height: 18px;
}

#start {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 3%;
  padding: 1%;
  color: white;
  background-color: rgba(88, 0, 153, 0.5);
  border: 1px solid gold;
  border-radius: 5px;
  font-weight: bolder;
  width: 40%;
}

#start a {
  display: flex;
  align-self: center;
  margin: 1%;
  padding: 1%;
  color: white;
}

/* QUIZ PAGE */
/* Styles the Quiz Section so it appears central and applies a border */
.game-area {
  padding: 1%;
  margin: 25px auto 0;
}

/* Spaces out the header and gives it aq bottom border thinner than the quiz section border */
.game-area h1,
.instructions h1 {
  border-bottom: 2px solid gold;
  padding: 1%;
}

/* Styles the question and answer area */
.central-area {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

/* Styles for the quiz questions */
#question {
  padding: 1%;
}

/* Styles the Answer options */
.answer-buttons {
  color: black;
  width: 90%;
  margin: 1%;
  padding: 1%;
  font-weight: bolder;
  border: 0.5px solid gold;
  border-radius: 5px;
  transition: all 0.3s;
}

/* Styles the Answer options */
.answer-buttons:hover {
  background: black;
  color: white;
}

/* Styles the next-btn, will style to look similar to the lotto submit button */
#next-btn {
  align-self: center;
  margin: 1%;
  padding: 1%;
  color: white;
  background-color: rgba(88, 0, 153, 0.5);
  border: 1px solid gold;
  border-radius: 5px;
  font-weight: bolder;
  width: 25%;
  transition: 0.3s;
}

#next-btn:hover {
  background: white;
  color: rgba(88, 0, 153, 0.5);
}

/* Styles below will apply to user's selection and go green if the answer is correct, and red if incorrect */
.correct {
  color: white;
  background: rgba(133, 214, 109, 0.75);
}

.incorrect {
  color: white;
  background: rgba(218, 84, 84, 0.75);
}

/* Media Styles for Tablets 768px + */
@media screen and (min-width: 768px) {
  /* INDEX PAGE */
  #start {
    margin: 2%;
    width: 30%;
  }
}

/* Media Styles for Laptops (992px +)  */
@media screen and (min-width: 992px) {
  /* INDEX PAGE */
  #start {
    margin: 1%;
    margin-top: 0px;
  }

  /* QUIZ PAGE */
  /* Styles the question and answer area */
  .game-area {
    margin: auto;
  }
}

/* Media Styles for Laptops (1024px +)  */
@media screen and (min-width: 1024px) {
  /* INDEX PAGE */
  .instructions p {
    font-size: larger;
    padding: 2%;
  }

  #start {
    width: 25%;
  }
}

/* Media Styles for Big Tablets (1300px +)  */
@media screen and (min-height: 1300px) {
  /* INDEX PAGE */
  .instructions p {
    font-size: x-large;
    line-height: 30px;
  }

  .instructions {
    height: 380px;
    margin-top: 470px;
  }

  #start a,
  #next-btn {
    margin: 3%;
    padding: 2%;
    font-size: 20px;
  }

  /* QUIZ PAGE */
  .game-area {
    height: fit-content;
    min-height: 430px;
    padding: 1%;
    margin: auto;
  }

  .central-area {
  }

  #question {
    line-height: 40px;
  }

  .answer-buttons {
    font-size: larger;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  /* INDEX PAGE */
  .instructions {
    width: 25%;
  }

  /* QUIZ PAGE */
  #start {
    margin-top: 1%;
  }

  .game-area {
    margin: 0.5% auto 0.5%;
    width: 30%;
    flex-grow: 0.35;
  }

  .game-area h1 {
    font-size: 25px;
  }

  #question {
    font-size: medium;
  }

  .answer-buttons {
    font-size: smaller;
  }
}
